# 4.7 Exercise

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create path
path = r'C:\Users\RebekkaBrandt\Documents\Instacart Basket Analysis'

In [7]:
# import file
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_2.pkl'))

In [11]:
# create subset 
df = ords_prods_merge[:1000000]

In [12]:
df.shape

(1000000, 21)

In [23]:
df.head(50)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_peripd_of_day,busiest_period_of_day
0,0,0,2539329,1,1,2,8,NaN,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average Orders,Average Orders
1,1,1,2398795,1,2,3,7,15.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average Orders,Average Orders
2,2,2,473747,1,3,3,12,21.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,Most Orders
3,3,3,2254736,1,4,4,7,29.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average Orders,Average Orders
4,4,4,431534,1,5,4,15,28.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most Orders,Most Orders
5,5,5,3367565,1,6,2,7,19.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average Orders,Average Orders
6,6,6,550135,1,7,1,9,20.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
7,7,7,3108588,1,8,1,14,14.0,196,2,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
8,8,8,2295261,1,9,1,16,0.0,196,4,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
9,9,9,2550362,1,10,4,8,30.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average Orders,Average Orders
10,144,144,2968173,15,15,1,9,7.0,196,2,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
11,146,146,1870022,15,17,2,16,8.0,196,6,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
12,147,147,1911383,15,18,2,11,7.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
13,150,150,2715276,15,21,1,9,7.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
14,151,151,487368,15,22,1,10,14.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
15,209,209,2293453,19,2,5,14,6.0,196,3,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
16,212,212,1973799,19,5,6,12,8.0,196,15,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
17,214,214,532817,19,7,4,17,6.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average Orders,Average Orders
18,232,232,1573906,21,10,3,10,6.0,196,2,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,Most Orders
19,458,458,1593000,31,10,3,8,7.0,196,17,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average Orders,Average Orders
20,465,465,2231262,31,17,3,11,8.0,196,14,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,Most Orders
21,617,617,2580647,43,6,4,16,4.0,196,9,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most Orders,Most Orders
22,620,620,2187180,43,9,4,12,3.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most Orders,Most Orders
23,751,751,2497897,52,1,1,9,NaN,196,4,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
24,752,752,1318871,52,2,1,10,7.0,196,5,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
25,753,753,1261384,52,3,1,10,7.0,196,3,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
26,755,755,580568,52,5,2,10,8.0,196,6,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
27,757,757,2428073,52,7,2,7,8.0,196,5,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average Orders,Average Orders
28,759,759,342306,52,9,1,11,7.0,196,5,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
29,760,760,1520353,52,10,2,10,8.0,196,4,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
30,761,761,2542086,52,11,2,9,7.0,196,3,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
31,762,762,944694,52,12,1,16,6.0,196,7,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
32,765,765,1268191,52,15,2,11,8.0,196,3,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
33,767,767,1122089,52,17,2,10,6.0,196,4,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
34,768,768,1498922,52,18,2,10,14.0,196,6,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
35,769,769,180919,52,19,3,8,8.0,196,4,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average Orders,Average Orders
36,771,771,2695875,52,21,5,10,30.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
37,1022,1022,3205960,67,1,3,11,NaN,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,Most Orders
38,1023,1023,970922,67,2,1,15,5.0,196,2,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
39,1024,1024,596585,67,3,1,13,7.0,196,2,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
40,1025,1025,2037087,67,4,2,9,8.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
41,1026,1026,2474111,67,5,3,14,8.0,196,2,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,Most Orders
42,1027,1027,1568481,67,6,3,12,7.0,196,2,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,Most Orders
43,1029,1029,2048527,67,8,2,11,7.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
44,1030,1030,2389031,67,9,2,14,7.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
45,1031,1031,2378562,67,10,1,10,6.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
46,1032,1032,1515698,67,11,1,11,7.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
47,1033,1033,1928050,67,12,2,12,8.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most Orders,Most Orders
48,1034,1034,1949274,67,13,1,10,6.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders
49,1035,1035,551869,67,14,1,9,7.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,Most Orders

## Group by

In [14]:
df.groupby('product_name')

In [17]:
# mean order number by department
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [19]:
# mean, min, max for order number by department
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [24]:
# group and assign max value for oder number
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [25]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_peripd_of_day,busiest_period_of_day,max_order
0,0,0,2539329,1,1,2,8,NaN,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average Orders,Average Orders,10
1,1,1,2398795,1,2,3,7,15.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average Orders,Average Orders,10
2,2,2,473747,1,3,3,12,21.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,Most Orders,10
3,3,3,2254736,1,4,4,7,29.0,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average Orders,Average Orders,10
4,4,4,431534,1,5,4,15,28.0,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most Orders,Most Orders,10

In [ ]:
# 'turns off' limitation for number of items shown with .head
pd.options.display.max_rows = None

In [28]:
# create loc
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [31]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [32]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_peripd_of_day,busiest_period_of_day,max_order,loyalty_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average Orders,Average Orders,10,New customer
1,1,1,2398795,1,2,3,7,15.0,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average Orders,Average Orders,10,New customer
2,2,2,473747,1,3,3,12,21.0,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,Most Orders,10,New customer
3,3,3,2254736,1,4,4,7,29.0,196,1,...,7,9.0,both,Mid-range product,Least busy,Least busy days,Average Orders,Average Orders,10,New customer
4,4,4,431534,1,5,4,15,28.0,196,1,...,7,9.0,both,Mid-range product,Least busy,Least busy days,Most Orders,Most Orders,10,New customer

In [33]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

In [34]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_3.pkl'))