# Step 1

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\RebekkaBrandt\Documents\Instacart Basket Analysis'

In [ ]:
# Import orders_products_merged.pkl
df_orders_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4.pkl'))

In [ ]:
df_orders_prods_merged.info()

In [ ]:
df_orders_prods_merged_1 = df_orders_prods_merged.drop(columns = ['Unnamed: 0'])

In [ ]:
df_orders_prods_merged_2 = df_orders_prods_merged_1.drop(columns = ['Unnamed: 0.1'])

In [ ]:
df_orders_prods_merged_2.head()

In [ ]:
df_orders_prods_merged_2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_4sm.pkl'))

# Step 2

In [4]:
# Import orders_products_merged.pkl
df_orders_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4sm.pkl'))

In [5]:
df_orders_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 26 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int64
 1   user_id                    int64
 2   order_number               int64
 3   orders_day_of_week         int64
 4   order_hour_of_day          int64
 5   days_since_previous_order  float64
 6   product_id                 int64
 7   add_to_cart_order          int64
 8   reordered                  int64
 9   product_name               object
 10  aisle_id                   int64
 11  department_id              int64
 12  prices                     float64
 13  _merge                     category
 14  price_range_loc            object
 15  busiest_day                object
 16  busiest_days               object
 17  busiest_peripd_of_day      object
 18  busiest_period_of_day      object
 19  max_order                  int64
 20  loyalty_flag               object
 21  avg_price                  float64
 22  spending_flag              object
 23  order_freq                 float64
 24  frequency                  object
 25  frequency_flag             object
dtypes: category(1), float64(4), int64(11), object(10)
memory usage: 6.3+ GB

In [8]:
# Change types for ords data set
df_orders_prods_merged['order_id']=df_orders_prods_merged['order_id'].astype('int32')
df_orders_prods_merged['user_id'] = df_orders_prods_merged['user_id'].astype('int32')
df_orders_prods_merged['order_number']=df_orders_prods_merged['order_number'].astype('int8')
df_orders_prods_merged['orders_day_of_week']=df_orders_prods_merged['orders_day_of_week'].astype('int8')
df_orders_prods_merged['order_hour_of_day']=df_orders_prods_merged['order_hour_of_day'].astype('int8')
df_orders_prods_merged['days_since_previous_order']=df_orders_prods_merged['days_since_previous_order'].astype('float16')

In [12]:
# Change types for ords data set
df_orders_prods_merged['product_id']=df_orders_prods_merged['product_id' ].astype('int32')
df_orders_prods_merged['add_to_cart_order'] = df_orders_prods_merged['add_to_cart_order'].astype('int32')
df_orders_prods_merged['reordered']=df_orders_prods_merged['reordered'].astype('int8')
df_orders_prods_merged['aisle_id']=df_orders_prods_merged['aisle_id'].astype('int8')
df_orders_prods_merged['department_id']=df_orders_prods_merged['department_id'].astype('int8')
df_orders_prods_merged['prices']=df_orders_prods_merged['prices'].astype('float16')

In [15]:
df_orders_prods_merged['max_order']=df_orders_prods_merged['max_order'].astype('int8')
df_orders_prods_merged['avg_price']=df_orders_prods_merged['avg_price'].astype('float16')
df_orders_prods_merged['order_freq']=df_orders_prods_merged['order_freq'].astype('float16')

In [16]:
df_orders_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 26 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int32
 1   user_id                    int32
 2   order_number               int8
 3   orders_day_of_week         int8
 4   order_hour_of_day          int8
 5   days_since_previous_order  float16
 6   product_id                 int32
 7   add_to_cart_order          int32
 8   reordered                  int8
 9   product_name               object
 10  aisle_id                   int8
 11  department_id              int8
 12  prices                     float16
 13  _merge                     category
 14  price_range_loc            object
 15  busiest_day                object
 16  busiest_days               object
 17  busiest_peripd_of_day      object
 18  busiest_period_of_day      object
 19  max_order                  int8
 20  loyalty_flag               object
 21  avg_price                  float16
 22  spending_flag              object
 23  order_freq                 float16
 24  frequency                  object
 25  frequency_flag             object
dtypes: category(1), float16(4), int32(4), int8(7), object(10)
memory usage: 3.6+ GB

In [14]:
df_orders_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,...,busiest_days,busiest_peripd_of_day,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,order_freq,frequency,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Regularly busy days,Average Orders,Average Orders,10,New customer,6.367797,Low Spender,20.5,NaN,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Least busy days,Average Orders,Average Orders,10,New customer,6.367797,Low Spender,20.5,NaN,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Least busy days,Most Orders,Most Orders,10,New customer,6.367797,Low Spender,20.5,NaN,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Least busy days,Average Orders,Average Orders,10,New customer,6.367797,Low Spender,20.5,NaN,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Least busy days,Most Orders,Most Orders,10,New customer,6.367797,Low Spender,20.5,NaN,Non-frequent customer

In [17]:
df_orders_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_5sm.pkl'))

In [4]:
# import customer
df_cust = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customer.pkl'))

In [5]:
df_cust.head()

,Unnamed: 0,user_id,first_name,last_name,gender,state,age,date_joined,number_of_dependants,family_status,income
0,0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374